.heroInfo {
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.screenshotsContainer {
    margin-left: 50px;
    margin-right: 50px;
    width: 70%;
    height: auto;
}

.basicStatsContainer {
    background-color: transparent;
    width: 400px;
    margin-left: 50px;
}

.bioContainer {
    background-color: transparent;
    margin-right: 50px;
}

.firstRowContainer {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}

.listItems {
    background-color: transparent;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.healthBox {
    margin-left: 50px;
    text-align: center;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50px 10px;
}

.shieldBox {
    margin-left: 50px;
    text-align: center;
    width: 100px;
    background-color: rgba(114, 189, 234, 0.8);
    border-radius: 50px 10px;
}

.armorBox {
    margin-left: 50px;
    text-align: center;
    width: 100px;
    background-color: rgba(255, 220, 49, 0.8);
    border-radius: 50px 10px;
}

.healthShieldArmorRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.separateLine {
    margin: 10px;
    height: 1px;
    width: 80%;
    background-color: rgba(0,0,0,0.2);
}

.firstRowHeader {
    text-align: center;
    font-weight: bold;
}

.abilityLine {
    margin: 50px 50px 0 50px;
    height: 1px;
    background-color: rgba(0,0,0,0.2);
}

.abilityTitle {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0,0,0,0.05);
    padding: 10px 50px;
    border-radius: 5px;
    margin: 0 50px 0 50px;
}
.abilityContainer {
    margin: 10px 50px 100px 50px;
}

.tabSelected {
    border-color: grey;
    border-radius: 15px 15px 0px 0px;
    background-color: rgba(255,255,255,0.5);
    font-weight: bold;
}
