.chartCategoryButtonGroup {
    position: absolute;
    left: 100px;
    top: 350px;
}

.chartContainer {
    display: inline-flex;
    padding: 50px 100px;
    align-items: center;
}

.donutChart {
    display: inline;
    margin-right:100px;
}

.barChart {
    display: inline-block;
}

.groupButtons {
    background-color: rgba(255,255,255,0.5);
    font-weight: lighter;
}

.groupButtons {
    background-color: rgba(255,255,255,0.5);
    font-weight: lighter;
}

.groupButtons:hover {
    background-color: rgba(23,24,112,0.2);
    color: white;
}

.btn-light:not(:disabled):not(.disabled).active {
    background-color: rgba(23,24,112,0.5);
    color: white;
}